!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @subject
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body{:style => "margin: 0; padding: 0;"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:style => "padding: 10px 0 30px 0;"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border: 1px solid #cccccc; border-collapse: collapse;", :width => "600"}
            %tr
              %td{:align => "center", :bgcolor => "#1d2532", :style => "color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;"}
                %img{:alt => "Offerchat", :height => "77", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/h1.gif", :style => "display: block;", :width => "202"}/
            %tr
              %td{:align => "center", :bgcolor => "#1d2532", :style => "color: #153643; font-size: 28px;"}
                %a{:href => "http://www.offerchat.com", :target => "_blank"}
                  %img{:alt => "Offerchat banner", :height => "90", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/banner.gif", :style => "display: block;", :width => "600"}/
            %tr
              %td{:bgcolor => "#ffffff", :style => "padding: 40px 30px 40px 30px; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;" }
                %p Hi #{@user.name}
                %p Thanks for using Offerchat live chat. We hope it helped you make customers happy!
                %p
                  When you signed up for the Offerchat live chat tool, you were given the Premium Trial
                  account wherein you can add unlimited agents -- the star feature of the Enterprise plan worth $197/month.
                  You just saved yourself $394!
                %p
                  You have 5 days more to enjoy the Premium Trial, after which you can either upgrade to your preferred plan or go back to the regular Offerchat free account.
                %p
                  When you upgrade, you unlock these 2 exclusive features not found in the free live chat tool:
                  %br
                  * More agent slots
                  %br
                  * No Offerchat branding or logo on the widget
                %p
                  For only as low as $37/month inclusive of 4 agent seats.
                  %a{ :href => "https://www.offerchat.com/pricing/" } See other plans
                %p &nbsp;
                %p
                  %a{ :href => "https://app.offerchat.com/#plans" } Upgrade Now
                %p
                  Of course, you'll still enjoy all the other features in the free account :)
                %p &nbsp;
                %p Let us know if you have any questions, we’ll be glad to chat with you.
                %p Offerchat Team
            %tr
              %td{:bgcolor => "#1c2532", :style => "padding: 20px 30px 10px 30px;"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:align => "center"}
                      %a{:href => "https://twitter.com/offerchat", :style => "color: #1c2532;"}
                        %img{:alt => "Twitter", :border => "0", :height => "33", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/tw.gif", :width => "33"}/
                      %a{:href => "https://www.facebook.com/Offerchat", :style => "color: #ffffff;padding-left: 10px;"}
                        %img{:alt => "Facebook", :border => "0", :height => "33", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/fb.gif", :width => "33"}/
                  %tr
                    %td{:style => "text-align: center; color: #ffffff; font-family: Arial, sans-serif; font-size: 12px;", :width => "100%"}
                      %p
                        \© 2013 Offerchat
                        %br/
                        Crown 7 Building, Juan Luna Ave, Cebu City, Philippines, 6000