!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @subject
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body{:style => "margin: 0; padding: 0;"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:style => "padding: 10px 0 30px 0;"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border: 1px solid #cccccc; border-collapse: collapse;", :width => "600"}
            %tr
              %td{:align => "center", :bgcolor => "#1d2532", :style => "color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;"}
                %img{:alt => "Offerchat", :height => "77", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/h1.gif", :style => "display: block;", :width => "202"}/
            %tr
              %td{:align => "center", :bgcolor => "#1d2532", :style => "color: #153643; font-size: 28px;"}
                %a{:href => "http://www.offerchat.com", :target => "_blank"}
                  %img{:alt => "Offerchat banner", :height => "90", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/banner.gif", :style => "display: block;", :width => "600"}/
            %tr
              %td{:bgcolor => "#ffffff", :style => "padding: 40px 30px 40px 30px; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;" }
                %p Hi #{@user.name}
                %p
                  You have 3 days left to enjoy your Premium Trial and the multiple live chat agent accounts you’ve added under your account.
                %p
                  For a period of 60 days since you registered and used Offerchat live chat, you’ve made a hefty $394 savings in using the Enterprise plan – a premium plan – for FREE. Not bad! :)
                %p
                  But due to server costs, we’re limited to let you add and use multiple agents for free. 
                %p
                  3 days from now, you’ll be given the option to upgrade to a paid plan of your choice.
                  %a{ :href => "https://www.offerchat.com/pricing/" } See other plans
                %p &nbsp;
                %p
                  %a{ :href => "https://new.offerchat.com/#plans" } Upgrade Now
                %p If you’re not ready to upgrade yet, your account will automatically divert back to the Free account with only 1 agent seat, that is YOU the account owner.
                %p You will still be able to add unlimited websites, though, and enjoy other live chat features for free.
                %p &nbsp;
                %p Let us know if you have any questions, we’ll be glad to chat with you.
                %p Offerchat Team
            %tr
              %td{:bgcolor => "#1c2532", :style => "padding: 20px 30px 10px 30px;"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:align => "center"}
                      %a{:href => "https://twitter.com/offerchat", :style => "color: #1c2532;"}
                        %img{:alt => "Twitter", :border => "0", :height => "33", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/tw.gif", :width => "33"}/
                      %a{:href => "https://www.facebook.com/Offerchat", :style => "color: #ffffff;padding-left: 10px;"}
                        %img{:alt => "Facebook", :border => "0", :height => "33", :src => "https://d1qsh505towr9b.cloudfront.net/wp-content/uploads/2013/07/fb.gif", :width => "33"}/
                  %tr
                    %td{:style => "text-align: center; color: #ffffff; font-family: Arial, sans-serif; font-size: 12px;", :width => "100%"}
                      %p
                        \© 2013 Offerchat
                        %br/
                        Crown 7 Building, Juan Luna Ave, Cebu City, Philippines, 6000