.welcome-message {
  font-family: "lucida sans", "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 1.4;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  background: #445362;
  display: inline-block;
  max-width: 285px;
  position: relative;
}

.welcome-message span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.welcome-message .tooltip-tail {
  border-color: #445362 transparent transparent transparent;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  bottom: -11px;
  top: auto;
  left: 17px;
  width: 0;
  height: 0;
}