@import "modules/theme_mixin"
// custom scrollbar
.widget-body::-webkit-scrollbar
  width: 6px
  background-color: transparent
.widget-body::-webkit-scrollbar-track,
.widget-body::-webkit-scrollbar-track-piece
  -webkit-border-radius: 10px
  border-radius: 10px
  background-color: transparent
  border: none
.widget-body::-webkit-scrollbar-thumb
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #999
.widget-body::-webkit-scrollbar-thumb:window-inactive
  background: #999
.widget-body::-webkit-scrollbar-corner
  background-color: transparent

.group:before,
.group:after
  content: ""
  display: table
.group:after
  clear: both
.group
  zoom: 1

.widget-wrapper
  position: fixed
  bottom: 0px
  margin: 0
  padding: 0
  background-color: transparent
  overflow: hidden
  z-index: 9999999999
  height: 421px
  width: 306px
  &.widget-fixed-left
    left: 10px
  &.widget-fixed-right
    right: 10px
i.widget
  &.icon
    background-image: image-url("//d3ocj2fkvch1xi.cloudfront.net/widget/images/widget-sprite.png")
    display: inline-block
    position: relative
    &.icon-chat
      width: 17px
      height: 16px
      background-position: 0 0
      top: 11px
      left: 5px
      z-index: 110
    &.icon-thumbs-up
      width: 16px
      height: 16px
      background-position: 0 -25px
    &.icon-thumbs-up-green
      width: 16px
      height: 16px
      background-position: -18px -25px
    &.icon-thumbs-down-red
      width: 16px
      height: 16px
      background-position: -34px -25px
    &.icon-gear
      width: 16px
      height: 16px
      background-position: 0 -41px

    &.icon-bell
      width: 13px
      height: 13px
      background-position: -28px -1px
      top: 1px
    &.icon-bell-off
      @extend .icon-bell
      background-position: -16px -1px
    &.icon-transcript
      width: 13px
      height: 13px
      background-position: -42px 0
    &.icon-check-large
      width: 32px
      height: 32px
      background-position: -52px 0

// RESET
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block
body
  line-height: 1
ol, ul
  list-style: none
blockquote, q
  quotes: none
blockquote
  &:before, &:after
    content: ''
    content: none
q
  &:before, &:after
    content: ''
    content: none
table
  border-collapse: collapse
  border-spacing: 0

.widget-preview-sample
  margin: 0 20px 5px 0
  padding: 0
  float: left
  background-color: transparent

  // z-index: 9999999999
  width: 306px
  height: 425px
  position: relative
  .widget-box
    a
      cursor: default
  .widget-footer, .widget-head
    cursor: default
    z-index: 99

.widget-unlock-tooltip
  font-size: 12px
  position: absolute
  bottom: 35px
  right: 10px
  background-color: #445362
  z-index: 100
  padding: 10px
  width: 200px
  border-radius: 3px
  color: #fff

  .caret
    border-color: #445362 transparent transparent transparent
    border-width: 7px
    border-style: solid
    position: absolute
    bottom: -13px
    right: 30px
    width: 0
    height: 0

  a.btn
    padding: 3px 7px
    font-size: 11px
  .message
    display: block
    margin-bottom: 5px



body .widget-box, .widget-box
  font-family: "lucida sans", "lucida grande",tahoma,verdana,arial,sans-serif
  font-size: 11px
  line-height: 1.4
  color: #434343
  overflow: hidden
  a
    cursor: pointer
.widget-box
  position: absolute
  height: 100%
  width: 100%

.widget-head
  position: relative
  display: block
  cursor: pointer
  height: 45px
  overflow: hidden
  border-bottom: none
  &.widget-rounded-head
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    img.agent-thumbnail
      border-top-left-radius: 5px
  img.agent-thumbnail
    width: 45px
    height: 45px
    float: left

    margin-right: 10px
  .widget-agent-name
    margin-top: 6px
    font-size: 12px
    font-weight: bold
.widget-msg-count
  background: -webkit-gradient(linear, left top, left bottom, from(#fc5858), to(#de3838))
  background: -moz-linear-gradient(top, #fc5858, #de3838)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc5858',endColorstr='#de3838')
  width: 8px
  height: 8px
  border-radius: 30px
  position: absolute
  display: inline-block
  text-align: center
  left: 3px
  bottom: 3px
  padding: 4px
  box-shadow: 0 1px 3px rgba(0,0,0,.3)
  text-shadow: 0 -1px 0 rgba(0,0,0,.2)
  span
    font-size: 9px
    font-weight: bold
    color: #fff
    position: relative
    top: -1px

.widget-overlay
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,.5)
  z-index: 990

  .widget-confirmation
    position: relative
    z-index: 991
    padding: 20px
    background: #fff
    width: 200px
    top: 20%
    margin: 0 auto
    text-align: center
    box-shadow: 0 1px 3px rgba(0,0,0,.2)
    border-radius: 5px
    a.widget-btn
      display: inline-block
      padding: 5px 15px
      border-radius: 3px
      background-color: #445362
      color: #fff
      font-weight: bold
      margin-top: 10px
      font-size: 12px
.widget-body
  position: relative
  background-color: #ededed
  height: 379px
  border-right: 1px solid #e1e1e1
  border-left: 1px solid #e1e1e1
  .widget-chat-viewer
    height: 319px
    overflow-y: auto
.widget-footer
  padding: 6px
  height: 19px
  position: relative
  z-index: 1000
  font-size: 10px
  text-shadow: 0 1px 0 #fff
  cursor: pointer
  .widget-footer-desc
    float: right
    color: #999
  a
    color: #1589e2

  strong
    font-weight: bold

  .footer-logo
    background-image: image-url('//d3ocj2fkvch1xi.cloudfront.net/widget/images/widget-logo.png')
    display: block
    width: 24px
    height: 24px
    float: left
    position: relative
    top: -5px
.message-item
  padding: 5px 10px

  color: #000
  .message-author

    font-weight: bold
    font-size: 12px
    margin: 5px 0
    padding-top: 5px
    border-top: 1px solid #e1e1e1
  &:first-child
    border-top: none
    .message-author
      border-top: none
  &.agent-message
    color: #434343
  &.group-author-item
    border: none
    padding: 0 10px 5px
    .message-author
      display: none

  .message-date
    color: #9f9f9f
    float: right
    font-size: 9px


.widget-block-head
  padding: 8px 8px 8px 43px
.widget-pre-message
  margin: 5px 0 10px 0
  h3
    font-size: 12px
    font-weight: bold


    .icon-check-large
      float: left
      top: 3px
      margin-right: 5px


.widget-tooltip
  position: absolute
  padding: 5px
.widget-connection-status
  text-align: center
  position: relative
  top: 20%
  width: 100%

@-webkit-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-moz-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-ms-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-o-keyframes progress-bar-stripes
  from
    background-position: 0 0
  to
    background-position: 40px 0
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0

.widget-progress
  height: 10px
  overflow: hidden
  background-color: #f7f7f7
  border-radius: 10px
  width: 250px
  display: block
  margin: 10px auto


  .widget-progress-bar
    float: left
    width: 100%
    height: 100%
    font-size: 12px
    color: #fff
    text-align: center

    background-color: #c1c1c1
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent))
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
    -webkit-background-size: 40px 40px
    -moz-background-size: 40px 40px
    -o-background-size: 40px 40px
    background-size: 40px 40px
    -webkit-animation: progress-bar-stripes 2s linear infinite
    -moz-animation: progress-bar-stripes 2s linear infinite
    -ms-animation: progress-bar-stripes 2s linear infinite
    -o-animation: progress-bar-stripes 2s linear infinite
    animation: progress-bar-stripes 2s linear infinite
.widget-block
  padding: 10px
  .widget-input-container
    margin: 5px 0
    position: relative
    input[type=text],textarea
      display: block
      width: 100%
      border: 1px solid #e1e1e1
      font-family: "lucida sans", "lucida grande",tahoma,verdana,arial,sans-serif
      font-size: 11px
      padding: 7px
      outline: none
      resize: none
      border-radius: 0
      box-sizing: border-box
      -moz-box-sizing: border-box
    textarea
      min-height: 60px
    &.widget-field-error
      input[type=text],textarea
        border-color: #e13d3d

button.widget-button
  background: #535353
  outline: none
  border: none
  color: #fff
  font:
    family: "lucida sans", "lucida grande",tahoma,verdana,arial,sans-serif
    size: 11px
  border-radius: 3px
  padding: 7px 10px
  display: block
  width: 100%
  cursor: pointer
  &:active
    box-shadow: 0 1px 3px darken(#535353, 5%) inset
.widget-first-msg
  background-color: #fff
  margin-left: 10px
  position: relative
  input[type=text]
    width: 100%
    height: 100%
    padding: 15px 15px 15px 28px
    border-radius: 5px
    position: absolute
    border: none
    top: 0
    left: 0
    outline: none
    font-family: "lucida sans", "lucida grande",tahoma,verdana,arial,sans-serif
    font-size: 11px
  i.icon.icon-chat
    position: absolute
    left: 7px
    top: 8px
.widget-input
  border-top: 1px solid #e1e1e1
  height: 35px
  position: relative
input[type='text'].widget-input-text
  width: 100%
  height: 100%
  padding: 0 45px  0 27px
  position: absolute
  border: none
  top: 0
  left: 0
  outline: none
  font-family: "lucida sans", "lucida grande",tahoma,verdana,arial,sans-serif
  font-size: 11px


a.widget-head-control
  position: absolute
  right: 7px
  top: 7px

a.chat-rating,
a.chat-settings
  float: right
  cursor: pointer
  position: relative
  margin: 7px 0 0 0
  display: inline-block
  padding: 3px

.tooltip-options
  position: absolute
  width: 160px
  padding: 7px 0
  top: -77px
  right: 0
  box-sizing: border-box
  -moz-box-sizing: border-box
  opacity: 0
  display: block
  visibility: hidden
  border-radius: 3px
  z-index: 110
  background-color: #445362

  & > li
    font-size: 12px
    list-style: none

    a
      color: #fff
      display: block
      padding: 5px 10px
      cursor: pointer
      &:hover
        background-color: darken(#445362, 5%)
  &.open
    margin-top: 10px
    opacity: 1
    visibility: visible
  &.rating-options
    right: 15px
    width: auto
    .caret
      right: 11px
  &.settings-options
    right: 0px
    top: -97px
.footer-credits
  font-size: 10px
  color: #c2ccd7
  padding: 5px 10px 0
  text-align: right
  border-top: 1px solid #596c7f
  a
    color: #269efa
    &:hover
      text-decoration: underline
.caret
  border-color: #445362 transparent transparent transparent
  border-width: 7px
  border-style: solid
  position: absolute
  bottom: -13px
  top: auto
  right: 5px
  width: 0
  height: 0





.widget-theme
  &.theme-saddlebrown
    .widget-head
      @include themePaletteHead($saddlebrown,#fff)
      &.widget-gradient
        @include themePaletteGradient($saddlebrown)
  &.theme-darkslategrey
    .widget-head
      @include themePaletteHead($darkslategrey,#fff)
      &.widget-gradient
        @include themePaletteGradient($darkslategrey)
  &.theme-gold
    .widget-head
      @include themePaletteHead($gold,#262626)
      &.widget-gradient
        @include themePaletteGradient($gold)
  &.theme-black
    .widget-head
      @include themePaletteHead($black,#fff)
      &.widget-gradient
        @include themePaletteGradient($black)
  &.theme-keylime
    .widget-head
      @include themePaletteHead($keylime,#262626)
      &.widget-gradient
        @include themePaletteGradient($keylime)
  &.theme-salemgreen
    .widget-head
      @include themePaletteHead($salemgreen,#fff)
      &.widget-gradient
        @include themePaletteGradient($salemgreen)
  &.theme-hibiscus
    .widget-head
      @include themePaletteHead($hibiscus,#fff)
      &.widget-gradient
        @include themePaletteGradient($hibiscus)
  &.theme-hiblight
    .widget-head
      @include themePaletteHead($hiblight,#fff)
      &.widget-gradient
        @include themePaletteGradient($hiblight)
  &.theme-astroblue
    .widget-head
      @include themePaletteHead($astroblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($astroblue)
  &.theme-goldenbell
    .widget-head
      @include themePaletteHead($goldenbell,#fff)
      &.widget-gradient
        @include themePaletteGradient($goldenbell)
  &.theme-endeavor
    .widget-head
      @include themePaletteHead($endeavor,#fff)
      &.widget-gradient
        @include themePaletteGradient($endeavor)
  &.theme-midblue
    .widget-head
      @include themePaletteHead($midblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($darkslategrey)
  &.theme-blueribbon
    .widget-head
      @include themePaletteHead($blueribbon,#fff)
      &.widget-gradient
        @include themePaletteGradient($blueribbon)
  &.theme-sushi
    .widget-head
      @include themePaletteHead($sushi,#fff)
      &.widget-gradient
        @include themePaletteGradient($sushi)
  &.theme-eggplant
    .widget-head
      @include themePaletteHead($eggplant,#fff)
      &.widget-gradient
        @include themePaletteGradient($eggplant)
  &.theme-mandy
    .widget-head
      @include themePaletteHead($mandy,#fff)
      &.widget-gradient
        @include themePaletteGradient($mandy)
  &.theme-nandor
    .widget-head
      @include themePaletteHead($nandor,#fff)
      &.widget-gradient
        @include themePaletteGradient($nandor)
  &.theme-grey
    .widget-head
      @include themePaletteHead($grey,#fff)
      &.widget-gradient
        @include themePaletteGradient($grey)
  &.theme-cadmiumreddeep
    .widget-head
      @include themePaletteHead($cadmiumreddeep,#fff)
      &.widget-gradient
        @include themePaletteGradient($cadmiumreddeep)
  &.theme-cobaltviolet
    .widget-head
      @include themePaletteHead($cobaltviolet,#fff)
      &.widget-gradient
        @include themePaletteGradient($cobaltviolet)
  &.theme-aureolineyellow
    .widget-head
      @include themePaletteHead($aureolineyellow,#fff)
      &.widget-gradient
        @include themePaletteGradient($aureolineyellow)
  &.theme-cadmiumorange
    .widget-head
      @include themePaletteHead($cadmiumorange,#fff)
      &.widget-gradient
        @include themePaletteGradient($cadmiumorange)
  &.theme-fadedorange
    .widget-head
      @include themePaletteHead($fadedorange,#fff)
      &.widget-gradient
        @include themePaletteGradient($fadedorange)
  &.theme-greengrass
    .widget-head
      @include themePaletteHead($greengrass,#fff)
      &.widget-gradient
        @include themePaletteGradient($greengrass)
  &.theme-picassoblue
    .widget-head
      @include themePaletteHead($picassoblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($picassoblue)
  &.theme-aqua
    .widget-head
      @include themePaletteHead($aqua,#262626)
      &.widget-gradient
        @include themePaletteGradient($aqua)
  &.theme-aquablue
    .widget-head
      @include themePaletteHead($aquablue,#fff)
      &.widget-gradient
        @include themePaletteGradient($aquablue)
  &.theme-rustorange
    .widget-head
      @include themePaletteHead($rustorange,#fff)
      &.widget-gradient
        @include themePaletteGradient($rustorange)
  &.theme-velvetpink
    .widget-head
      @include themePaletteHead($velvetpink,#fff)
      &.widget-gradient
        @include themePaletteGradient($velvetpink)
  &.theme-darkchoco
    .widget-head
      @include themePaletteHead($darkchoco,#fff)
      &.widget-gradient
        @include themePaletteGradient($darkchoco)
  &.theme-fblue
    .widget-head
      @include themePaletteHead($fblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($fblue)
  &.theme-faintred
    .widget-head
      @include themePaletteHead($faintred,#fff)
      &.widget-gradient
        @include themePaletteGradient($faintred)
  &.theme-deepskyblue
    .widget-head
      @include themePaletteHead($deepskyblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($deepskyblue)
  &.theme-gray34
    .widget-head
      @include themePaletteHead($gray34,#fff)
      &.widget-gradient
        @include themePaletteGradient($gray34)
  &.theme-gray77
    .widget-head
      @include themePaletteHead($gray77,#343434)
      &.widget-gradient
        @include themePaletteGradient($gray77)
  &.theme-gray93
    .widget-head
      @include themePaletteHead($gray93,#343434)
      border: 1px solid #e5e5e5
      &.widget-gradient
        @include themePaletteGradient($gray93)
  &.theme-white
    .widget-head
      @include themePaletteHead($white,#343434)
      border: 1px solid #e5e5e5

  &.theme-brightgray
    .widget-head
      @include themePaletteHead($brightgray,#262626)
      &.widget-gradient
        @include themePaletteGradient($brightgray)
  &.theme-olivedrab
    .widget-head
      @include themePaletteHead($olivedrab,#fff)
      &.widget-gradient
        @include themePaletteGradient($olivedrab)
  &.theme-chartreuse
    .widget-head
      @include themePaletteHead($chartreuse,#fff)
      &.widget-gradient
        @include themePaletteGradient($chartreuse)
  &.theme-teal
    .widget-head
      @include themePaletteHead($teal,#fff)
      &.widget-gradient
        @include themePaletteGradient($teal)
  &.theme-lightblue
    .widget-head
      @include themePaletteHead($lightblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($lightblue)
  &.theme-slateblue
    .widget-head
      @include themePaletteHead($slateblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($slateblue)
  &.theme-maroon
    .widget-head
      @include themePaletteHead($maroon,#fff)
      &.widget-gradient
        @include themePaletteGradient($maroon)
  &.theme-rosypink
    .widget-head
      @include themePaletteHead($rosypink,#262626)
      &.widget-gradient
        @include themePaletteGradient($rosypink)
  &.theme-salmon
    .widget-head
      @include themePaletteHead($salmon,#fff)
      &.widget-gradient
        @include themePaletteGradient($salmon)
  &.theme-burntumber
    .widget-head
      @include themePaletteHead($burntumber,#fff)
      &.widget-gradient
        @include themePaletteGradient($burntumber)
  &.theme-sandybrown
    .widget-head
      @include themePaletteHead($sandybrown,#fff)
      &.widget-gradient
        @include themePaletteGradient($sandybrown)
  &.theme-seashell4
    .widget-head
      @include themePaletteHead($seashell4,#fff)
      &.widget-gradient
        @include themePaletteGradient($seashell4)
  &.theme-navajowhite2
    .widget-head
      @include themePaletteHead($navajowhite2,#262626)
      &.widget-gradient
        @include themePaletteGradient($navajowhite2)
  &.theme-brightyellow
    .widget-head
      @include themePaletteHead($brightyellow,#262626)
      &.widget-gradient
        @include themePaletteGradient($brightyellow)
  &.theme-lightgoldenrod2
    .widget-head
      @include themePaletteHead($lightgoldenrod2,#262626)
      &.widget-gradient
        @include themePaletteGradient($lightgoldenrod2)
  &.theme-mudyellow
    .widget-head
      @include themePaletteHead($mudyellow,#fff)
      &.widget-gradient
        @include themePaletteGradient($mudyellow)
  &.theme-green4
    .widget-head
      @include themePaletteHead($green4,#fff)
      &.widget-gradient
        @include themePaletteGradient($green4)
  &.theme-springgreen
    .widget-head
      @include themePaletteHead($springgreen,#262626)
      &.widget-gradient
        @include themePaletteGradient($springgreen)
  &.theme-aquamarine
    .widget-head
      @include themePaletteHead($aquamarine,#262626)
      &.widget-gradient
        @include themePaletteGradient($aquamarine)
  &.theme-manganesegreen
    .widget-head
      @include themePaletteHead($manganesegreen,#fff)
      &.widget-gradient
        @include themePaletteGradient($manganesegreen)
  &.theme-cyan
    .widget-head
      @include themePaletteHead($cyan,#262626)
      &.widget-gradient
        @include themePaletteGradient($cyan)
  &.theme-peacock
    .widget-head
      @include themePaletteHead($peacock,#fff)
      &.widget-gradient
        @include themePaletteGradient($peacock)
  &.theme-steelblue
    .widget-head
      @include themePaletteHead($steelblue,#262626)
      &.widget-gradient
        @include themePaletteGradient($steelblue)
  &.theme-royalblue
    .widget-head
      @include themePaletteHead($royalblue,#fff)
      &.widget-gradient
        @include themePaletteGradient($royalblue)
  &.theme-mediumpurple
    .widget-head
      @include themePaletteHead($mediumpurple,#fff)
      &.widget-gradient
        @include themePaletteGradient($mediumpurple)
  &.theme-darkviolet
    .widget-head
      @include themePaletteHead($darkviolet,#fff)
      &.widget-gradient
        @include themePaletteGradient($darkviolet)
  &.theme-magenta
    .widget-head
      @include themePaletteHead($magenta,#fff)
      &.widget-gradient
        @include themePaletteGradient($magenta)
  &.theme-deeppink
    .widget-head
      @include themePaletteHead($deeppink,#fff)
      &.widget-gradient
        @include themePaletteGradient($deeppink)
  &.theme-pink3
    .widget-head
      @include themePaletteHead($pink3,#262626)
      &.widget-gradient
        @include themePaletteGradient($pink3)















@-webkit-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-moz-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-ms-keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@-o-keyframes progress-bar-stripes
  from
    background-position: 0 0
  to
    background-position: 40px 0
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0


// ANIMATE
.offerchat-animated
  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  -ms-animation-fill-mode: both
  -o-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  -ms-animation-duration: 1s
  -o-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-iteration-count: 6
  -moz-animation-iteration-count: 6
  -ms-animation-iteration-count: 6
  -o-animation-iteration-count: 6
  animation-iteration-count: 6
  -webkit-animation-delay: 2s
  -moz-animation-delay: 2s
  -ms-animation-delay: 2s
  -o-animation-delay: 2s
  animation-delay: 2s


@-webkit-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -webkit-transform: translateY(0)
  40%
    -webkit-transform: translateY(-4px)
  60%
    -webkit-transform: translateY(-3px)


@-moz-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -moz-transform: translateY(0)
  40%
    -moz-transform: translateY(-4px)
  60%
    -moz-transform: translateY(-3px)


@-o-keyframes bounce
  0%, 20%, 50%, 80%, 100%
    -o-transform: translateY(0)
  40%
    -o-transform: translateY(-4px)
  60%
    -o-transform: translateY(-3px)


@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-4px)
  60%
    transform: translateY(-3px)

