.notice-overlay
  .block.large
    %h2
      %i.icon.icon-gear-2
      Migrate your old account and experience a completely new & improved Offerchat live chat.
      %div{ :style => "color: #f75454; font-weight: bold; font-size: 14px" }
        (For Old Dashboard Users ONLY)

    %p
      Get ready for a completely new Offerchat live chat.
    %ul.list
      %li
        1. Login to the old Offerchat dashboard.
      %li
        2. Click the "Migrate" link
      %li
        3. You will be asked to create a new password.
      %li
        4. Update your widget code. Enjoy


    %a.btn.btn-full.success{:href => "//app.offerchat.com/login", :target => "_blank"}
      Login to the Old Dashboard

    %small
      * If you don't see the migration link, don't worry. We're slowly rolling out our updates to all our users.
