#wrapper
  #header-region.header-wrapper
  .content-container
    #site-selector-region
    #chat-sidebar-region.chats-sidebar-container
    #tour-sidebar-region.tour-sidebar.hide
    #main-region.main-content-view

#modal-region
#preview-region
#sidebar-region

#connecting-region.main-overlay-fixed
  .main-overlay-in
    #loader.spinner
    %p
      connecting to your dashboard