#wrapper
  #header-region.header-wrapper
  - if current_user.trial_days_left <= 0 && current_user.plan_identifier == "PROTRIAL"
    .global-notification.open
      .alert
        Your PRO Trial has just expired. Upgrade your account to continue using Offerchat.
        %a{ :href => "#upgrade" } Choose a plan now.
  .content-container
    #site-selector-region
    #chat-sidebar-region.chats-sidebar-container
    #tour-sidebar-region.tour-sidebar.hide
    #main-region.main-content-view

#modal-region
#preview-region
#sidebar-region

#connecting-region.main-overlay-fixed
  .main-overlay-in
    #loader.spinner
    %p
      connecting to your dashboard
