#header-region.header-wrapper
.content-container
  #site-selector-region.site-selector-container
  #chat-sidebar-region.chats-sidebar-container
  #tour-sidebar-region.tour-sidebar.hide
  #main-region.main-content-view

#modal-region
#preview-region

:javascript
  $(function(){
    Offerchat.start({
      currentUser: '#{current_user.to_json}'
    });
  });