.tour-sidebar
  .block
    %h2
      Get Started
    %p
      Hey, you’re almost done. Complete the next
      steps to start using Offerchat.
    %ul.tour-steps-list
      %li.checked
        .checklist
          %span.value
            %i.icon.icon-check-large
        Profile
      %li
        .checklist
          %span.value
            2
        Preview widget
      %li
        .checklist
          %span.value
            3
        Install