<h2>Step Three</h2>

<%= form_for(@website, url: wizard_path) do |f| %>

  <div><%= f.label :url %><br />
  <%= f.text_field :url, :autofocus => true %></div>
  <div><%= f.submit "Continue" %></div>
<% end %>