<h2>Step One</h2>

<%= form_for(resource, :as => resource_name, url: wizard_path) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>



  <div><%= f.submit "Continue" %></div>
<% end %>