$text-color: #77838d
$link-color: #2599dc
$default-border-color: #d1d1d1

$light-text-color: lighten($text-color, 25%)

$border-color: #d7d7d7

//global notifications
$global-notification-success: #47c2ac
$global-notification-alert: #e55454


$button-bg-color: #e1e1e1
//buttons action
$button-bg-success-color: #55cc76
$button-bg-action-color: #f27639
$button-bg-warning-color: #f04848

//SIDEBAR
$sidebar-color: #445362

$header-color: #363d45

$error-color: #e74c3c
$success-color: #43b674