@import "../modules/all"

$base-font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif
$base-font-weight: 400
$base-font-size: 14px
$base-line-height: 1.5
#wrapper
  overflow: hidden
  &.blur
    -webkit-filter: blur(1px)
#canvasLoader
  top: 12px
  left: 50%
  margin-left: -8px
#tableHead1_content
  margin-top: 33px
body
  font:
    family: $base-font-family
    weight: $base-font-weight
    size: $base-font-size
  line-height: $base-line-height
  color: $text-color
  background-color: #fff
  overflow: hidden
  -webkit-font-smoothing: antialiased
  &.body-dark
    background-color: $sidebar-color
p
  margin: 0 0 15px 0

strong
  font-weight: bold
small
  font-size: 12px
  &.disabled
    color: $light-text-color
a
  color: $link-color
  text-decoration: none
  cursor: pointer
  &.hovered
    text-decoration: underline
  &.logo
    display: inline-block
    float: left
    width: 123px
    height: 27px
    background-image: image-url("logo.png")
    position: relative
    margin: 10px
  &.item-block
    padding: 10px
    display: block
    color: $light-text-color

  &.block-link
    display: inline-block
    padding: $button-padding
  &.warning
    color: $button-bg-warning-color
  &.right
    float: right
.list
  li
    margin: 0 0 15px 0
.styled
  li
    margin-left: 15px
    list-style: disc
.align-right
  text-align: right
.item
  margin: 15px 0
.item-desc
  color: $light-text-color
  &.small
    font-size: 12px
.mark-admin
  margin-top: 18px
.no-chat-view
  display: block
  text-align: center
  position: relative
  margin-top: 20%
  color: $light-text-color
  h2
    margin: 10px 0 0 0
    font-weight: bold
  p
    font-size: 12px
.website-items-list
  .profile-image-container
    vertical-align: top
  h3
    font-weight: $bold
  & > li
    padding: 15px 0

    border-bottom: 1px solid #e1e1e1

  a.btn-add-agent
    position: relative
    display: inline-block
    text-align: center
    border-radius: 50%
    width: 33px
    height: 33px
    vertical-align: top
    border: 2px solid $link-color
    @include transition(.2s)
    &:hover
      background-color: $link-color
      color: #fff
    & > span
      position: relative
      top: 0px
      font-size: 22px
      left: -1px
      font-weight: 400






a.agent-selection-item
  display: inline-block
  width: 180px
  height: 120px
  padding: 40px 20px 20px 20px
  border-radius: 10px
  vertical-align: top
  margin-right: 10px
  margin-bottom: 10px
  text-align: center
  border: 2px solid transparent
  color: $text-color
  overflow: hidden
  @include transition(.2s)
  &:hover
    border-color: #e1e1e1
  .nickname
    font-size: 12px
    color: $light-text-color

  h3
    font-weight: $bold
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  .profile-image-container
    margin-bottom: 15px
  &.agent-selection-new
    margin-bottom: 15px
    color: $link-color
    border: 2px dashed #e1e1e1
    box-sizing: content-box
    -moz-box-sizing: content-box
    .profile-image
      width: 55px
      height: 55px
      border: 2px solid #e1e1e1
      border-radius: 27%
      @include transition(.2s)
    &:hover
      .profile-image
        border-color: $link-color
    .icon-add-agent
      top: 15px

.text-message

  &.error
    color: #e74c3c

.logo-large
  display: block
  width: 220px
  height: 47px
  background-image: image-url("logo-large.png")
  &.centered
    margin: 0 auto
.logo-single
  display: inline-block
  width: 55px
  height: 55px
  background-image: image-url("logo-single.png")
  background-repeat: no-repeat
h1
  font-size: 30px

h2
  font-size: 18px
  &.sub
    color: $light-text-color
h1,h2,h3,h4
  font-weight: 700
  color: darken($text-color, 20%)
h4
  font-size: 10px
  font-weight: bold
  text-transform: uppercase
  &.label
    color: $light-text-color
label
  &.small
    font-size: 12px
.hide
  display: none !important
.fade
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -ms-transition: all .2s
  -o-transition: all .2s
  transition: all .2s
#wrapper

  width: 100%
  top: 0
  bottom: 0
  position: absolute
.text-center
  text-align: center
.content
  position: relative
.main-inner
  // height: 100%
.main-content-view
  position: absolute
  left: 270px
  right: 0
  bottom: 0
  top: 0
  background-color: #fff
  min-width: 830px
  overflow-x: auto

.tour-content-view
  width: 830px
.terms-text
  font-size: 12px
  color: $light-text-color
  display: inline
.content-container
  position: absolute
  top: 45px
  width: 100%
  height: 100%

.block
  padding: $padding-10
  position: relative
  &.large
    padding: $padding-20
  &.inline
    display: inline-block
  &.bordered-top
    border-top: 1px solid #e1e1e1
  &.bordered-bottom
    border-bottom: 1px solid #e1e1e1

.alert-block-message
  padding: 10px 0
  font-size: 12px

  .btn
    padding: 3px 7px
  &.warning
    span.message
      color: $button-bg-warning-color
.setup-tooltip
  @extend .block-message
  position: absolute
  top: 55px
  left: 10px
  border-radius: 5px
  z-index: 110
  width: 400px
  box-shadow: 0 1px 10px rgba(0,0,0,.3)
.block-message
  a.close
    float: right
    font-size: 20px
    font-weight: bold
    line-height: 1
    color: black
    opacity: .4
    @include transition(.2s)
    &:hover
      opacity: .7
  padding: 10px 20px
  background-color: #f4efd1
  font-size: 14px
  box-sizing: border-box
  -moz-box-sizing: border-box
  &.small
    font-size: 12px
    a.close
      margin-top: -2px
  &.align-center
    text-align: center
  &.inline
    display: inline-block
  &.warning
    color: #9c342e
    background-color: #f7d9d7
  &.success
    background-color: #cdf2dd
    color: #3b5f4a
.profile-image-container
  position: relative
  display: inline-block

  width: 37px
  height: 37px

  text-align: center
  &:hover
    .profile-user-tooltip
      opacity: 1
      visibility: visible
      top: -40px
  .profile-image
    display: block
    position: relative

    img
      border-radius: 27%
      border: 2px solid $default-border-color
      width: 33px
      height: 33px
  &.large
    width: 59px
    height: 59px
    img
      width: 55px
      height: 55px
    .status
      width: 22px
      height: 22px
      .icon
        top: 6px

  &.inactive
    .profile-image
      opacity: .5

  .status
    position: absolute
    bottom: 0
    right: 0
  .profile-user-tooltip
    background-color: $sidebar-color
    padding: 5px 7px
    font-size: 12px
    border-radius: 3px
    position: absolute
    top: -45px
    z-index: 110
    color: #fff
    white-space: nowrap
    opacity: 0
    visibility: hidden

    @include transition(.2s)
.caret
  border-width: 7px
  border-style: solid
  position: absolute
  width: 0
  height: 0
  &.caret-top
    top: -13px
    border-color: transparent transparent $sidebar-color transparent
  &.caret-bottom
    bottom: -13px
    border-color: $sidebar-color transparent transparent transparent
  &.caret-pull-left
    left: 10px
  &.caret-pull-right
    right: 10px
.tooltip
  position: absolute
  background-color: $sidebar-color
  padding: 10px
  font-size: 12px
  border-radius: 3px
  z-index: 10
  top: 38px
  &.tooltip-large
    width: 250px




.thumbnail-upload-container
  float: left
  img
    width: 85px
    height: 85px
    border-radius: 27%
    border: 2px solid $default-border-color
    background-color: #f8f8f8

.agent-calc
  position: relative
  margin-top: 10px
  .agent-seat
    display: inline-block
    opacity: .3
    &.ok
      opacity: 1


.settings-pull-left
  float: left
.more
  display: inline-block
  vertical-align: middle
  &.right
    float: right
  span
    width: 4px
    height: 4px
    border-radius: 50%
    display: inline-block
    background-color: $default-border-color
.small-help-block
  font:
    style: italic
    size: 11px
    weight: normal
  margin-top: 7px
  color: $light-text-color
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.status
  display: inline-block
  position: relative
  width: 14px
  height: 14px
  border-radius: 50%
  background: #c4c4c4
  overflow: hidden
  text-align: center
  vertical-align: top
  line-height: .6
  &.online
    background-color: #1fde4c
  &.signout
    background-color: #ee5c5c
  &.site-list-status
    top: 2px
    left: 5px
    margin-right: 15px
  .icon
    top: 2px
    vertical-align: top

.status-item
  display: inline-block
  font-size: 12px
  background-color: #ccc
  border-radius: 3px
  padding: 1px 5px
  color: #fff
  &.green
    background-color: #53bb84
  &.red
    background-color:  #e13d3d

.msg-count
  display: inline-block
  padding: 3px 0
  line-height: 1
  width: 20px
  text-align: center
  background-color: #e5e5e5
  text-shadow: 0 1px 0 #fff
  border-radius: 3px
  color: $text-color
  font-size: 11px
  font-weight: bold



.link-list
  a
    display: inline-block
  &.link-list-labeled
    a
      padding: 5px 10px
      text-align: center
      &:hover
        .icon-chat-response
          background-position: -50px -257px
        .icon-chat-note
          background-position: -91px -257px
    span
      display: block
      margin-top: 5px

::-webkit-scrollbar
  width: 8px
  background-color: #ffffff

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece
  -webkit-border-radius: 10px
  border-radius: 10px
  background-color: transparent
  border: none

::-webkit-scrollbar-thumb
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #ccc

::-webkit-scrollbar-thumb:window-inactive
  background: #ccc

::-webkit-scrollbar-corner
  background-color: transparent

.chats-sidebar-container::-webkit-scrollbar
  background-color: transparent
.chats-sidebar-container::-webkit-scrollbar-thumb
  background-color: #75889a



.tour-content-inner
  .block
    padding: 20px
  .preview-code
    float: right
    font-family: 'Courier New', courier
    font-size: 12px

    width: 270px
    p
      margin: 0 0 2px 0
    em
      font-style: italic
      color: #999
    .red
      color: red
      font-weight: bold

.widget-preview-form
  margin: 20px 0
  label
    margin-right: 15px


.go-right
  float: right
.go-left
  float: left

.column-content-container
  float: none
  height: 100%
  overflow-y: auto
  &.for-fixed-header
    overflow-y: hidden


.column-50
  width: 50%
  float: left
.column-footer-actions
  &.bordered
    border-top: 1px solid #e5e5e5
.middot
  width: 2px
  height: 2px
  display: inline-block
  vertical-align: middle
  margin: 0 10px
  background-color: $light-text-color

.section-sub-menu
  background-color: #e7e7e7
  li
    float: left
  a
    display: inline-block
    padding: 10px 20px
    color: $text-color
    text-shadow: 0 1px 0 #fff
    &.active
      font-weight: bold
      background-color: #fff
.section-desc
  margin: 10px 0
  &.child-desc
    margin-bottom: 30px



.trigger-item
  @include transition(.1s)
  display: block

  white-space: nowrap
  border-bottom: 1px solid #f1f1f1
  .icon-lightning
    top: -1px
.trigger-value
  font-weight: bold
  color: $text-color
  &.trigger-message
    display: block
    width: 500px
    text-overflow: ellipsis
    overflow: hidden
    font-size: 12px
    color: $light-text-color
    font-weight: normal
    font-style: italic
    padding-left: 17px
.linkable
  cursor: pointer

.graphic-selector
  a.ag-select
    display: inline-block
    width: 150px
    height: 85px
    border: 3px solid #ccc
    overflow: hidden
    vertical-align: top
    margin: 10px
    border-radius: 5px
    &.selected
      border-color: #2599dc
    img
      max-width: 100%

.modal-inner-container
  height: 300px
  overflow-y: auto
  border: 1px solid #e1e1e1

.modal-backdrop
  background-color: rgba(0,0,0,.6)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1100
  overflow-y: scroll

.close-modal-backdrop
  background: transparent
  left: 0
  top: 0
  z-index: 1100
  width: 100%
  height: 100%
  position: fixed

.modal-window
  padding-bottom: 50px
  position: absolute
  z-index: 1110
  width: 560px
  left: 50%
  top: 40px
  margin-left: -280px
  &.modal-window-large
    width: 755px
    margin-left: -378px
    .chat-table.chat-container-table
      width: 490px
.modal
  position: relative
  width: 100%
  z-index: 1120
  background-color: #f4f4f4
  border-radius: 5px
  box-shadow: 0 0 20px rgba(0,0,0,.3)

  h2
    margin-bottom: 5px

  .modal-body,
  .modal-header
    padding: 10px 15px
    h2
      margin-bottom: 0
      text-shadow: 0 1px 0 #fff
    .chat-header
      border-bottom: none
  .modal-footer
    padding: 15px
    &.bordered
      border-top: 1px solid $border-color
  .chat-header
    height: auto
  .modal-header,
    .close
      color: $text-color
      position: absolute
      top: 10px
      right: 15px
      font-size: 24px
      line-height: 18px
      opacity: .7
      width: 19px
      height: 19px
      border-radius: 3px
      line-height: 19px
      text-align: center
      z-index: 100
      @include transition(.2s)
      &:hover
        opacity: 1
  .modal-body
    &.bordered
      border-top: 1px solid #e1e1e1
  .block-message
    padding: 10px 15px

.history-btn-group
  margin-top: 50px
  float: right
.block-list
  li
    position: relative
    &.list-head
      border-top: 1px solid #e1e1e1
      color: #999
      .checklist-admin
        top: 0px



  &.manage-agent-modal-list
    li
      padding: 10px
      overflow: hidden
      border-top: 1px solid #e1e1e1


a.block-list-item, .block-list-item
  display: block
  padding: 15px 0

  &.bordered
    border-top: 1px solid #e1e1e1
.site-block-list
  button.trash-btn
    position: absolute
    right: 15px
    top: 17px
.agent-list-container
  height: 350px
  overflow-y: auto
.url-desc,
.invoice-desc
  color: #b1b1b1
  font-size: 12px
  &.full
    display: block
.language-selector
  a
    width: 90px
    height: 90px
    padding: 5px
    border: 2px solid transparent
    border-radius: 3px
    display: inline-block
    text-align: center
    label
      cursor: pointer
    &.selected
      border-color: $default-border-color
.plan-faq-list
  li
    display: inline-block
    padding: 10px
    width: 30.333%
    float: left
    text-align: left
    margin-bottom: 20px
  h3
    margin: 0 0 10px
.plans
  .plan-features
    margin-top: 15px
    font-size: 12px
    li
      padding: 10px
  .plan-grid
    display: inline-block
    margin: 0 20px 20px 0
  .plan
    width: 220px
    border-radius: 10px
    box-sizing: border-box
    -moz-box-sizing: border-box
    vertical-align: top
    min-height: 295px
    overflow: hidden
    text-align: center
    background-color: #f1f1f1
    position: relative

    small
      font-size: 12px
      color: #999
    &.plan-regular

    &.plan-best
      width: 260px
      min-height: 310px

      h2
        font-size: 28px

    h2
      padding: 7px
      color: #fff
      background-color: $sidebar-color
      margin-bottom: 20px
    .plan-description
      font-size: 12px
      font-weight: normal
    .plan-action
      height: 45px
      padding-top: 15px

  .plan-price
    .sign
      position: relative
      top: 3px
      font-size: 24px
      vertical-align: top

  .plan-value
    font-size: 38px
    letter-spacing: -1px
    display: block
    line-height: 1
    margin-top: 10px

  .small
    font-size: 12px
  .agent-count
    font-weight: 700
    font-size: 16px
.features-icon-list
  li
    display: inline-block
    margin: 0 30px 20px 30px
    text-align: center
    & > span
      font-size: 12px
      display: block
      margin-top: 10px


.login-wrapper
  margin-top: 40px

.login-form
  background-color: #fff
  width: 320px
  padding: 20px
  border-radius: 10px
  margin: 35px auto 35px auto
  input[type=text],
  input[type=password]
    width: 100%
    padding: 10px
    font-size: 18px





.sidebar-modal-fixed
  position: absolute

  @include transition(.3s)
  height: 100%
  width: 420px
  right: -640px
  top: 0
  z-index: 1110
  background-color: #f4f4f4
  box-shadow: 5px 0 20px rgba(0,0,0,.5)
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
  &.show
    right: 0

  .close
    color: $text-color
    position: absolute
    top: 10px
    right: 15px
    font-size: 24px
    line-height: 18px
    opacity: .7
    z-index: 100
    @include transition(.2s)
    &:hover
      opacity: 1

.notes-section
  .agent-inline-block
    position: absolute
    padding: 15px
    .nickname
      margin-top: 5px
      font-size: 12px
  .note
    padding-left: 100px
    font-size: 12px
  .profile-image-container
    cursor: default
    text-align: left

.modal-sidebar-viewer
  margin-top: 5px
  overflow-y: auto
  overflow-x: hidden
  background-color: #fff
.agent-selection-list
  margin: 10px 0
  padding: 20px 0
  border-bottom: 1px solid #e1e1e1
  h4
    color: $light-text-color
    margin-bottom: 10px
.agent-inline-block
  display: inline-block
  padding: 6px
  float: left
  margin: 0 10px 10px 0
  &.fixed
    text-align: center
    width: 145px
  &.full
    float: none
    display: block
  label
    vertical-align: top
    display: inline-block
    margin-top: 9px
    cursor: pointer
  .profile-image-container
    margin: -7px 5px 0 0
    vertical-align: top
  .profile-label-name
    &.for-large
      margin-top: 12px
  a.error
    margin-top: 12px
    &:hover
      text-decoration: underline
  &.agent-block-large
    width: 235px

a.agent-inline-block
  @include transition(.2s)
  border-radius: 5px
  &.agent-select-all
    height: 37px
    font-size: 12px
    line-height: 3
    padding: 6px 15px

  &.selected
    background-color: $link-color
    color: #fff
    box-shadow: 0 1px 1px darken($link-color,5%) inset

span.dot-seperator
  margin: 0 3px
  border-radius: 5px
  background-color: $light-text-color
  width: 4px
  height: 4px
  display: inline-block
  vertical-align: middle
.settings-widget-selector
  width: 192px
  float: left
  margin: 0 !important
.billing-details
  p
    margin: 3px 0
.main-overlay-fixed
  position: fixed
  width: 100%
  height: 100%
  overflow: hidden
  background-color: #fff
  z-index: 9999

  .main-overlay-in
    position: absolute
    width: 100%
    top: 50%
    margin-top: -88px
    text-align: center
    font-size: 12px
    color: #999
.authorize-payment-overlay
  h4
    color: #999
    font-size: 12px
    text-shadow: 0 1px 0 #fff

.authorize-payment-success
  h3
    font-size: 24px
    margin: 10px 0 0 0

.toggle-list
  margin: 5px 0 20px 0
  .select-all-agents
    top: 10px
    position: relative
.stats-panel
  display: inline-block
  text-align: right
  padding: 0 20px
  h3
    font-size: 28px
    font-weight: normal
    color: #3bb7d6
    .suffix
      font-size: 12px
      color: $light-text-color
      font-weight: 400
  label
    font-size: 12px
.rating-bar
  width: 220px
  height: 3px
  background-color: #e1e1e1
  position: relative
  margin-top: 5px
  .progress-bar
    float: left
    position: absolute

    height: 100%
    &.green
      background-color: #54c694
      left: 0
    &.red
      background-color: #dd6969
      right: 0

.graph-container
  margin: 20px 0
.stats-indicator
  width: 8px
  height: 8px
  border-radius: 10px
  display: inline-block
  margin-right: 7px
  &.blue
    background-color: #3cb2e9
    .stats-stick
      @extend .stats-indicator.blue
  &.green
    background-color: #4ec192
    .stats-stick
      @extend .stats-indicator.green
  &.red
    background-color: #f06767
    .stats-stick
      @extend .stats-indicator.red


  .stats-stick
    width: 7px
    height: 2px
    display: inline-block
    position: relative
    right: -5px
    top: 3px
    float: left

.notice-overlay
  float: left
  top: 0
  left: 0
  width: 350px
  height: 100%
  color: #fff
  background-color: rgba(0,0,0,.2)
  h2
    margin-bottom: 10px

.visitor-status
  vertical-align: middle
  width: 6px
  height: 6px
  display: inline-block
  border-radius: 10px
  &.online
    background-color: #1fde4c
  &.busy
    background-color: #e13d3d
.pricing-header
  margin-top: 20px
.image-list
  li
    display: inline-block
    text-align: center
    min-width: 125px
    a,span
      display: block
      cursor: pointer
  img.small
    height: 55px
  &.well
    padding: 10px
    background-color: #fff
    border-radius: 5px
    li
      min-width: inherit
      width: 95px
      margin: 5px
      height: 95px

.tag-new
  position: relative
  font-size: 10px
  font-weight: normal
  margin-left: 2px
  opacity: 1
  display: inline-block
  top: -4px
  color: #fff
  background-color: #ec2972
  padding: 2px
  border-radius: 3px
  line-height: 1
.tag-small
  display: inline-block
  margin: 0 10px
  font-size: 12px

  position: relative

#reliefPh
  background: #000
  padding: 10px 15px
  color: #fff
  h3
    color: #fff
    font-size: 20px
    margin-bottom: 10px
  span.relief-coupon
    font-weight: bold
    color: #406AF1
  .image-ph
    float: left
    height: 170px
    margin-right: 20px