.btn
  border-radius: $button-radius
  background-color: $button-bg-color
  border: 1px solid transparent
  font-family: $base-font-family
  font-size: $base-font-size
  font-weight: 500
  color: $text-color
  display: inline-block
  text-decoration: none
  line-height: 1.4em
  position: relative
  outline: none
  padding: $button-padding
  cursor: pointer
  box-sizing: border-box
  -moz-box-sizing: border-box
  @include transition(.2s)
  &:active, &.active
    background-color: darken($button-bg-color, 5%)
    border-top: 1px solid darken($button-bg-color, 20%)
  &.success
    background-color: $button-bg-success-color
    color: #fff
    &:active
      background-color: darken($button-bg-success-color, 5%)
      box-shadow: 0 1px 1px darken($button-bg-success-color, 15%) inset
      border-top: 1px solid darken($button-bg-success-color, 20%)
  &.action
    background-color: $button-bg-action-color
    color: #fff
    &:active
      background-color: darken($button-bg-action-color, 5%)
      box-shadow: 0 1px 1px darken($button-bg-action-color, 15%) inset
      border-top: 1px solid darken($button-bg-action-color, 20%)
  &.warning
    background-color: $button-bg-warning-color
    color: #fff
    &:active
      background-color: darken($button-bg-warning-color, 5%)
      box-shadow: 0 1px 1px darken($button-bg-warning-color, 15%) inset
      border-top: 1px solid darken($button-bg-warning-color, 20%)
  &.disabled
    color: $light-text-color
    cursor: pointer
    &:active
      box-shadow: none
    .icon
      opacity: .5
  &.add-more-btn
    font-size: 11px
    font-weight: 500
    display: inline-block
    padding: 3px 5px
    background: #ec2972
    color: #fff
    border-radius: 3px
    border: 1px solid darken(#ec2972, 10%)
    position: relative
    top: -2px
    margin-right: 5px
    &.btn-large
      font-size: 14px
      padding: 7px
  &.upgrade-btn
    background: #ec2972
    color: #fff
    &:active
      background-color: darken(#ec2972, 5%)
      box-shadow: 0 1px 1px darken(#ec2972, 15%) inset
      border-top: 1px solid darken(#ec2972, 20%)
  &.left
    float: left
  &.right
    float: right

  &.hide
    display: none
  &.btn-regular
    width: 175px
  &.btn-large
    width: 250px
  &.small
    font-size: 12px
  .icon
    top: -2px
    margin-right: 2px
  &.btn-long
    padding-left: 80px
    padding-right: 80px
  &.btn-full
    width: 100%
    text-align: center
  &.btn-line-fix
    line-height: 1

.btn-group
  a.btn
    float: left
    border-radius: 0
    border-right: 1px solid darken($button-bg-color, 10%)
    &:first-child
      border-top-left-radius: 3px
      border-bottom-left-radius: 3px
    &:last-child
      border-top-right-radius: 3px
      border-bottom-right-radius: 3px
      border-right: none

.button-selector
  a
    border-radius: 30px
    padding: 7px 15px
    display: inline-block
    font-size: 12px

    font-weight: 500
    &.selected

      background-color: $sidebar-color
      color: #fff



.transcript-action-selector
  width: 130px
.calendar-picker-btn
  padding: 7px
  .icon-arrow-down
    position: absolute
    right: 10px
    top: 14px

a.trash-btn
  vertical-align: top
  text-align: center
  padding: 7px 15px 7px 15px
  .icon
    margin: 0

.btn-selector-wrapper
  position: relative
  display: inline-block
  // vertical-align: top
  vertical-align: bottom

  &.full
    width: 100%
    display: block
  &.agent-selector-wrapper
    left: -15px
    top: -4px
  &.upload-tool-btn-wrapper
    margin-left: 20px
    top: 25px
    vertical-align: top
  .dropdown-options
    position: absolute
    width: 100%
    padding: 7px 0
    box-sizing: border-box
    -moz-box-sizing: border-box
    opacity: 0
    display: block
    visibility: hidden
    border-radius: 3px
    z-index: 110
    @include transition(.2s)
    &.top
      bottom: 40px

    & > ul
      overflow-y: auto
      max-height: 150px
      & > li
        position: relative
    &.dark
      background-color: $sidebar-color
      li
        &:hover
          background-color: darken($sidebar-color, 5%)
      a
        color: #fff
    a
      display: block
      padding: 7px 17px
      @include transition(.2s)
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
  .icon-arrow-down
    right: 10px
    top: 14px
    position: absolute
  .btn-action-selector
    text-overflow: ellipsis
    vertical-align: bottom
    overflow: hidden
    white-space: nowrap
    &.chat-action-selector
      width: 165px
    &.site-selector
      width: 203px
      margin-top: 5px
      padding-right: 30px

    &.agent-row-selector
      width: 100%

      .icon-arrow-down
        top: 14px
  &.left
    float: left
    margin-right: 5px
.chat-actions-selector
  width: 200px
.btn-upload-photo
  width: 145px
.calendar-picker-btn
  .icon-calendar
    float: left
    top: 0
    margin-right: 4px
.dropdown-options ul::-webkit-scrollbar
  background-color: transparent
.dropdown-options ul::-webkit-scrollbar-thumb
  background-color: #75889a

.open > .dropdown-options
  margin-top: 5px
  opacity: 1
  visibility: visible

button.trash-btn
  width: 16px
  height: 16px
  background: none
  border: none
  outline: none
  padding: 0
  cursor: pointer
  z-index: 10
  & > .trash-lid
    display: block
    @include icon(16px, 4px, -73px, -99px)
    -webkit-transform-origin: -7% 100%
    -webkit-transition: -webkit-transform 150ms
  &:hover
    .trash-lid
      -webkit-transform: rotate(-25deg)
      -webkit-transition: -webkit-transform 250ms
  & > .trash-bin
    display: block
    @include icon(16px, 13px, -73px, -103px)

.toggle-list
  .chat-agent-name
    vertical-align: top
    display: inline-block

    top: 10px
a.btn-toggle,
a.btn-toggle-all
  display: inline-block
  cursor: pointer
  padding: 5px
  border-radius: 3px
  height: 37px
  color: $text-color
  margin: 0 5px 5px 0
  @include transition(.2s)
  &:hover
    background-color: #e8e8e8
  &.bordered
    border: 1px solid #e8e8e8
  &.active
    background-color: $link-color
    color: #fff
    border: 1px solid transparent
a.btn-toggle-all
  &.all-agents
    width: 100px
    text-align: center
    vertical-align: top