@import "partials/flags"
.chat-image
  width: 100px
  height: 100px
  border: 3px solid $default-border-color
  border-radius: 50%
  display: inline-block
  margin-right: 20px
  overflow: hidden
.chat-list-info
  vertical-align: top
  display: inline-block
  margin-top: 10px
  width: 65%
  overflow: hidden
  li
    margin: 5px 0 0 0
    font-size: 12px
    white-space: nowrap
  a.visitor-name

    font-size: 16px
    color: $text-color
    font-weight: $bold
    margin-right: 10px
  a.url
    color: $light-text-color
    font-style: italic
    white-space: nowrap



.chat-type-selector
  position: relative
  text-align: center
  margin: 10px 0 0 0
  border-bottom: 3px solid #7f8891
  a
    margin: 0 20px
    display: inline-block
    padding: 10px
    width: 20%
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    position: relative
    top: 1px
    &.active
      background-color: #7f8891
      color: #fff
      font-weight: bold
.status-typing
  font-style: italic
  color: $light-text-color
.chat-actions-notifications
  position: absolute
  top: 0
  width: 100%
  z-index: 100
.transcript-content
  background-color: #fff
  padding: 5px
  font-family: Arial, sans-serfif
  font-size: 12px
  color: black
  height: 220px
  overflow-y: scroll
.note
  padding: 5px 10px
  float: left
  &.fixed
    width: 545px
    min-height: 65px
  .date
    font-size: 12px
    margin-top: 5px
    color: $light-text-color
.chat-header
  border-bottom: 1px solid $default-border-color
  height: 127px

  box-sizing: border-box
  -moz-box-sizing: border-box
  &.overflow
    overflow-y: auto
  .agent-inline-block
    margin-top: 20px
.chat-right-sidebar
  float: right
  margin-top: 35px
.chat-pane-container
  max-width: 750px
  margin: 0 auto
.chat-viewer-content
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  position: relative
  background-color: #fff
  &.bordered
    border: 1px solid #e1e1e1
.chat-section-pane

  &.chat-response-wrapper
    bottom: 0
    padding: 5px 0


.chat-action-selector
  &.btn
    width: 160px

.chat-show-history-filter
  a.active
    color: $light-text-color
    font-weight: bold
    cursor: default

.chat-response
  margin-top: 10px
  textarea
    height: 45px
    width: 100%
    font-size: 14px
    &:hover
      border-color: $border-color
    &:focus
      border-color: #33c0f4
.chat-viewer-inner
  position: absolute
  width: 100%
  height: 100%
  bottom: 0
  &.static
    position: relative
  &.small
    .chat-item
      padding: 5px 0
      font-size: 12px

.chat-item
  border-top: 1px solid #f1f1f1
  padding: 10px 0
  position: relative
  &.chat-transfer-item
    .chat-container-table
      width: 76% !important
  p
    margin: 0 0 10px 0
    &:last-child
      margin-bottom: 0
  &.small
    color: $light-text-color
  &.child
    border-top: none
    padding-top: 0
  a.chat-block-btn
    text-align: center
    display: block
    padding: 5px
    margin: 0 10px
    border-radius: 3px
    color: $text-color
    font-size: 12px
  .chat-transfer-message
    margin-top: 5px
    display: inline-block
    color: #000
    font-weight: bold
  .chat-transfer-actions
    display: inline-block
    float: right
    line-height: 1
  .sub-text
    font-size: 12px
    color: $light-text-color
  .chat-table
    float: left
    &.chat-left-table
      width: 145px
      text-align: right
    &.chat-container-table
      width: 68.8%
      padding-left: 10px
    .chat-trigger-message
      font-style: italic
      color: $light-text-color


  .viewing-current-url
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  .chat-user
    .icon-lightning
      top: 3px
    &.agent
      color: darken($text-color, 20%)
    &.visitor
      color: $light-text-color

.chat-time
  display: inline-block
  margin-left: 10px
  margin-right: 10px
  float: right
  font-size: 12px
  color: $light-text-color

.show-prev-chats-label
  margin-right: 10px




.chat-agent-name
  position: relative
  vertical-align: top
  top: 12px
  margin-left: 5px
  &.small
    font-size: 12px
.chat-header-group
  .profile-image-container
    margin-bottom: 10px
    text-align: left
    min-width: 170px
    cursor: default
    float: left
    .profile-image
      float: left
      margin-right: 5px
  .chat-agent-name
    display: inline-block
    float: left

a.new-response
  display: inline-block
  padding: 5px
.quick-answers-list
  > li
    border-bottom: 1px solid #e1e1e1
    padding: 10px
    &:first-child
      border-top: 1px solid #e1e1e1
    > a
      font-size: 12px
      color: $text-color
      display: block
      &.new-response
        color: $link-color
        font-weight: 700
  .status-item
    margin-right: 5px
    background-color: $link-color