.icon
  display: inline-block
  position: relative
  vertical-align: middle
  background-repeat: none
  &.icon-arrow-down
    @include icon(11px,8px, 0 ,0)
  &.icon-arrow-left
    @include icon(8px, 11px, -14px ,0)
  &.icon-arrow-right
    @include icon(8px, 11px, -22px ,0)
  &.icon-chat-large
    @include icon(57px, 57px, -52px, -149px)
  &.icon-check-large
    @include icon(20px, 15px, 0, -26px)
  &.icon-check-large-2
    @include icon(31px, 25px, 0, -240px)
  &.icon-check-2
    @include icon(20px, 14px, -25px, -26px)
  &.icon-check-green
    @include icon(16px, 16px, 0, -267px)
  &.icon-check-small
    @include icon(14px, 11px, 0, -12px)
  &.icon-small-x
    @include icon(14px, 11px, -13px, -12px)
  &.icon-alarm-clock
    @include icon(14px, 14px, 0, -43px)
  &.icon-flag
    @include icon(14px, 14px, 0, -58px)
  &.icon-notes
    @include icon(14px, 14px, 0, -79px)
  &.icon-lightning
    @include icon(14px, 14px, -32px, -79px)
  &.icon-spring-notes
    @include icon(14px, 14px, -17px, -79px)
  &.icon-gear-large
    @include icon(21px, 21px, 0, -95px)
  &.icon-calendar
    @include icon(18px, 18px, -49px, -79px)
  &.icon-thumbs-up-green
    @include icon(15px, 14px, -60px, 0)
  &.icon-thumbs-up-red
    @include icon(15px, 14px, -79px, 0)
  &.icon-trash
    @include icon(18px, 16px, -73px, -79px)
  &.icon-search
    @include icon(18px, 18px, -93px, -79px)
  &.icon-agent
    @include icon(13px, 24px, 0, -212px)
  &.icon-users2
    @include icon(16px, 16px, -120px, -79px)
  &.icon-add-agent
    @include icon(29px, 24px, -59px, -33px)
  &.icon-add-user
    @include icon(29px, 24px, -91px, -33px)
  &.icon-agent-large
    @include icon(82px, 82px, -183px, 0)
  &.icon-agent-large-success
    @include icon(82px, 82px, -183px, -89px)
  &.icon-browser-opera
    @include icon(22px, 22px, -144px, -79px)
  &.icon-browser-firefox
    @include icon(22px, 22px, -144px, -99px)
  &.icon-browser-safari
    @include icon(22px, 22px, -144px, -119px)
  &.icon-browser-chrome
    @include icon(22px, 22px, -144px, -140px)
  &.icon-browser-iesucks
    @include icon(22px, 22px, -144px, -161px)

  &.icon-list
    width: 20px
    height: 17px
    top: -1px
    span
      width: 100%
      height: 3px
      background-color: #fff
      display: block
      margin: 4px 0
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
  &.icon-gear-2
    background-image: image-url('gear-icon.png')
    width: 81px
    height: 81px
    display: block
    margin: 0 auto 0 auto

  &.icon-feature
    width: 80px
    height: 80px
    background-size: 100%
    &.icon-feature-1
      background-image: image-url('pricing-feature-icons-1.png')
    &.icon-feature-2
      background-image: image-url('pricing-feature-icons-2.png')
    &.icon-feature-3
      background-image: image-url('pricing-feature-icons-3.png')
    &.icon-feature-4
      background-image: image-url('pricing-feature-icons-4.png')
    &.icon-feature-5
      background-image: image-url('pricing-feature-icons-5.png')
    &.icon-feature-6
      background-image: image-url('pricing-feature-icons-6.png')









