.modal-window.modal-get-started
  .modal
    .modal-header
      %h1
        Install
      
    .modal-body.bordered
      %p
        Simply copy and paste this code before the closing head </head> of your website document.
      %textarea.large.widget-code-text.full{ :readonly => "readonly" }
        <!--start of Offerchat js code--><script type='text/javascript'>var ofc_key = '070ad5450b13dbf3e3b3fbd91bf12907';(function(){  var oc = document.createElement('script'); oc.type = 'text/javascript'; oc.async = true;  oc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'd1cpaygqxflr8n.cloudfront.net/p/js/widget.min.js?r=1';  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oc, s);}());</script><!--end of Offerchat js code-->
      
          
    .modal-footer.bordered
      Not your job?
      %a
        Send this code to your webmaster